awsebcli
boto3
botocore
cement
charset-normalizer
click
colorama
dominate
Flask
Flask-Bootstrap
flask-nav
future
itsdangerous
Jinja2
jmespath
MarkupSafe
pathspec
pypiwin32
python-dateutil
pywin32
PyYAML
requests
s3transfer
semantic-version
six
termcolor
urllib3
visitor
wcwidth
Werkzeug
