* , .hero.is-primary {
  color:azure;
  background-color:hsl(219, 79%, 66%);
  /* background-color:cornflowerblue; */
  font-family: "Comic Sans MS";
}
a:hover {
  background-color: hsla(219, 79%, 66%, 0.5);
}

.pageContent {
  display: flex;
  padding: 50px 25px 0px;
}

.imagPageContent {
  display: initial;
}

.is-fullheight {
  display: block;
}

.memeContent {
  width: 75%;
}

.makersContent {
  width: 25%;
}

.smallsizeMeme {
  height: 200px;
}

.midsizeMeme {
  height: 250px;
}

img {
  border-radius: 5px;
  margin: 5px;
}