{% extends "index.html" %}

{% block content %}
<div class="imagePageContent">
  <h2>Make a Meme</h2>
  <br>
  <input type="button" 
         value="Upload your own image" 
         onclick="ShowAndHide('uploadImage', 'chooseImage');"/>
  <div class="uploadImage" id="uploadImage" style="display:none">
    <form action="/create" method="post" enctype="multipart/form-data">
        <input type="file" id="myFile" name="memeImageFile" accept=".png,.jpg">
        <input name="myfile" type="submit" value="Next">
    </form>
  </div>
  <br>
  <h4>Or</h4>
  <input type="button" 
         value="Choose an image"
         onclick="ShowAndHide('chooseImage', 'uploadImage');";
         />
  <br>
  <div class="chooseImage" id="chooseImage" style="display:none">
      <form action="/create" method="post">
        {% for image in image_list %}
            <img src="{{ image }}" id="{{ image }}" class="smallsizeMeme" onclick="selectImage('{{image}}')">
        {% endfor %}
        <input type="hidden" id="imageUrl" name="memeImageUrl">
        <input name="ourfile" type="submit" value="Next">
      </form>
  </div>
</div>

<script type="text/javascript">
function ShowAndHide(show, hide) {
    document.getElementById(show).style.display = 'block';
    document.getElementById(hide).style.display = 'none';
}
</script>
<script type="text/javascript">
function selectImage(url) {
    // highlight image and make sure the rest cannot be at the same time
    // document.getElementsByTagName('img').style.border = '2px solid black';
    document.getElementById(url).style.border = '2px solid black';
    // send url back
    document.getElementById('imageUrl').value = url;
}
</script>
{% endblock %}

