{% extends "index.html" %}

{% block content %}
<h2 style="font-size: x-large;">Make a Meme</h2>
<br>
<div class="page-content-row" style="align-items: flex-start;">
    <img src="{{ memeURL }}" class="largesizeMeme">
    <form action="/create" method="post">
        <div class="page-content-column" style="align-items:baseline;">
        <h2 style="font-size: large;">Add Text</h2>
            <textarea name="memeText" class="input" placeholder="Add Text" cols="20" style="height: 100px;" required></textarea>
            <input type="hidden" name="imgURL" value="{{ memeURL }}">
            <br>
            <input name="generate" class="button" type="submit" value="Generate">
        </div>
    </form>
</div>
{% endblock %}

