{% extends "index.html" %}

{% block content %}
<div class="page-content">
  <div class="meme-content">
    <h2>{{page_title}}</h2>
    {% if meme_list %}
    {% for img in meme_list %}
    <a href="/meme/{{ img[1] }}">
        <img src="{{ img[0] }}" class="midsizeMeme">
    </a>
    {% endfor %}
    {% endif %}
  </div>
  <div class="makers-content">
    <h2>{{maker_title}}</h2>
    {% for maker in maker_list %}
      <a href="/portfolio/{{maker['name']}}">
        <div class="maker-item">        
          <h2 style="text-align: left;">{{maker['name']}}</h2> 
          <h2 style="text-align: right;">{{maker['subs']}} subs</h2> 
        </div>
      </a>
    {% endfor %}
  </div>
</div>
{% endblock %}
