{% extends "index.html" %}

{% block content %}
<div class="pageContent">
  <div class="memeContent">
    <h2>{{page_title}}</h2>
    {% if meme_list %}
    {% for img in meme_list %}
    <a href="/meme/{{loop.index}}">
        <img src="{{ img }}" class="midsizeMeme">
    </a>
    {% endfor %}
    {% endif %}
  </div>
  <div class="makersContent">
    {% for maker in maker_list %}
    <div class="makerItem">
      <h2>{{maker.title}}</h2> 
      <h2>{{maker.sub_count}}</h2> 
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
