{% extends "bootstrap/base.html" %}

<!-- overwrite title and metas block in head for bootstrap/base.html to add favicon -->
{% block title %}Sky-High Memes{% endblock %}
{% block metas %}
  <link rel="icon" href="{{ url_for('static', filename='img/SkyHigh_Memes.png') }}">
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
{% endblock %}

{% block body %}
<section class="hero is-primary is-fullheight">
    <div class="hero-head" style="padding-left: 45px; padding-right: 45px;">
        <nav class="navbar">
            <!-- <div class="container"> -->
                <a href="/">
                    <div class="logo-container">
                        <img src='/static/img/SkyHigh_Memes.png' style="height:75px;" alt="Sky High Memes logo">
                        <p style="font-size: large;">Sky-High Memes</p>
                    </div>
                </a>
                <div id="navbarMenuHeroA" class="navbar-menu" style="height: 50px; margin-top: 35px;">
    {% block navbar %}
    {{nav.top.render(renderer='just_div_renderer')}}
    {% endblock %}
                </div>
            <!-- </div> -->
        <!-- </div> -->
    </div>

    <div class="hero-body page-content-column">
    {% block content %}
    {% endblock %}
    </div>
</section>
{% endblock %}