{% extends "index.html" %}

{% block content %}

<html>
  <head>
    <style>
      .container {
        display: flex;
        align-items: center;
        justify-content: center
      }
      img {
        max-width: 100%
      }
      .image {
        flex-basis: 40%
      }
      .text {
        font-size: 20px;
        padding-left: 20px;
      }
      .imgs {
        display: flex;
        flex-wrap: wrap;
        padding: 2px 4px;
       }
    </style>
  </head>
  <body >
    {% if url %}
    <div class="container">
      <div class="image">
        <img src="{{url}}" width="700" height="345"> 
      </div>
    </div>
    {% endif %}
  </body>
  <h1 >
    {% if images %}
    More memes
    {% endif %}
  </h1>
  <div class="imgs">
    {% for im in images %}
       <a href="/meme/{{ im[1] }}">
          <img height="200" width="200" src="{{ im[0] }}">
       </a>
    {% endfor %}
    <p>See more of {{ creator_name }}'s memes <a href="/portfolio/{{ creator_name }}">here!</a></p>
  </div>
</html>
{% endblock %}