{% extends "index.html" %}

{% block content %}
<div class="page-content-column">
    {% if meme_list %}
    <div class="page-content-row">
      <h2 style="font-size: x-large;">{{ page_title }}</h2>
      <div name="subscribe-item">
        {% if current_user.is_authenticated and not sameUser %}
          {% if not subscribed %}
            <form action="/portfolio" method="post">
              <input type="hidden" name="creator" value="{{ creatorName }}">
              <input type="submit" value="Subscribe" class="button" style="margin-left: 10px;">
            </form>
          {% else %}
            <p class="maker-item" style="margin-left: 10px;">You're subscribed to {{ creatorName }}! An email will be sent with a link you must click to confirm your subscription (disregard this message if you already done so).</p>
          {% endif %}
        {% endif %}
      </div>
    </div>
  <div>
      {% for img in meme_list %}
        <a href="/meme/{{ img[1] }}">
            <img src="{{ img[0] }}" class="midsizeMeme">
        </a>
      {% endfor %}
    {% else %}
      <h2  style="font-size: large;">{{ creatorName }} hasn't created any memes yet!</h2>
    {% endif %}
  </div>
</div>
{% endblock %}
